 <div class="row">
    <div class="col-md-12">
        <app-category-edit></app-category-edit>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group" *ngFor="let cat of categories; let i = index">
            <li class="list-group-item" style="cursor: pointer;" (click)="onItemSelected(cat.id)">
                <span> 
                    <img src="{{ cat.image}}" height="50" width="50" style="margin-right: 10px;"> {{ cat.name }}
                </span>
            </li>
        </ul>
    </div>
</div>
